<div class="card-pais animate__animated animate__bounceIn">
    <h2 style="margin-bottom: 10px;">{{pais.name}}</h2>
    <img [src]="pais.flag" width="350px" height="250px" />
    <div class="body-card">
        <h3>Capital : <small>{{pais.capital}}</small></h3>
        <h3>Habitantes : <small>{{pais.population | number}}</small></h3>
        <h3>Continente : <small>{{pais.region}}, {{pais.subregion}}</small></h3>
        <h3>Idioma : <small>{{pais.languages[0].nativeName}}</small></h3>
        <h3>Moneda : <small>{{pais.currencies[0].name}}</small></h3>
    </div>
</div>