<div class="content-nav">
    <div class="content-title">
        <img src="http://gifgifs.com/animations/nature/weather/Sun_reflection.gif" alt="" width="60px">
        <h1 style="margin-left: 10px;">PAISES APP</h1>
    </div>
    <div class="content-inputs">
        <div>
            <label for="search">Buscar por nombre </label>
            <input id="search" name="search" />
        </div>

        <div style="margin-left: 20px;">
            <label for="select">Buscar por continente </label>
            <select name="select" id="select">
                <option value="Africa">Africa</option>
                <option value="Americas">Americas</option>
                <option value="Asia">Asia</option>
                <option value="Europe">Europe</option>
                <option value="Oceania">Oceania</option>
            </select>
        </div>
    </div>

</div>