<div class="content-nav">
    <h1>PAISES APP</h1>
    <div class="content-inputs">
        <div>
            <label for="search">Buscar por nombre </label>
            <input id="search" name="search" />
        </div>

        <div style="margin-left: 20px;">
            <label for="select">Buscar por continente </label>
            <select name="select" id="select">
                <option value="Africa">Africa</option>
                <option value="Americas">Americas</option>
                <option value="Asia">Asia</option>
                <option value="Europe">Europe</option>
                <option value="Oceania">Oceania</option>
            </select>
        </div>
    </div>

</div>